.pd-button {
	color: #5090C1;
	font-size: 1.4em;
	background-color: white;
	border: 1px solid #5090C1;
	border-radius: 0.2em;
	min-height: 1.5em;
	margin: 0 0.3em 0.3em 0;
}

.pd-active {
	color: black;
	background-color: #E7F2F8;
}

.pd-button:hover {
	color: black;
	background-color: #f5f5f5;
}

.pd-view {
	height: auto;
	width: auto;
}

.pd-hide {
	display: none;
}

.pd-right {
	float: right;
	margin: 0 0 0.3em 0.3em;
}
